target/
*.class

*.iml
*.ipr
*.iws
.idea/
.idea_modules/
out

.DS_Store

# Dump file
*.stackdump

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
venv
