.centerSquare {
  display: block;
  width: 400px;
  margin: auto;
  padding: 10px;
}

.navBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
}
.orderList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  overflow: scroll;
  max-height: fit-content;
}
.order {
  display: inline;
}
